<div class="w-full max-w-xs" style="margin: 100px auto auto;">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="login($event)">
    <label class="block text-red-300 text-sm font-bold mb-2" *ngIf="lastLoginFailed">
      Email password combination invalid.
    </label>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="jarpis@jarpis.nl" [formControl]="email">
      <label class="block text-red-300 text-sm font-bold mb-2" *ngIf="email.invalid">
        Please enter a valid email address.
      </label>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" [formControl]="password">
      <label class="block text-red-300 text-sm font-bold mb-2" *ngIf="password.invalid">
        Please enter a password with eight characters or more.
      </label>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" >
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
        Forgot Password?
      </a>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2020 Jarpis B.V. All rights reserved.
  </p>
</div>

