<div class="w-full max-w-xs" style="margin: 100px auto auto;">
  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" class="bg-white shadow-md rounded px-12 pt-6 pb-8 mb-4" (ngSubmit)="submitForm($event)">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="jarpis@jarpis.nl" formControlName="email">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" formControlName="password">
    </div>
    <div class="flex items-left justify-between py-2">
      <label name="rememberMe" nz-checkbox formControlName="rememberMe">Remember me</label>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" >
        Sign In
      </button>
    </div>
    <div class="flex items-center justify-between" style="margin-top: 10px">
      <label class="block text-red-300 text-sm font-bold mb-2" *ngIf="lastLoginFailed">
        Email password combination incorrect.
      </label>
    </div>

  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2020 Jarpis (c). All rights reserved.
  </p>
</div>

