<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">User Manager</span>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a routerLink="" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Home
      </a>
      <a (click)="goToMyProfile()" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        My Profile
      </a>
    </div>
    <div>
      <nz-button-group *ngIf="isAuthenticated">
        <button [nzDropdownMenu]="menu" nz-dropdown nz-button><i nz-icon nzType="down"></i>{{currentUser?.firstName}}</button>
        <button nz-button nzPlacement="bottomRight">
          <i nz-icon>
            <img src="{{currentUser?.avatar}}" alt="<3" style="transform: scale(1.7)">
          </i>
        </button>
      </nz-button-group>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>My Profile</li>
          <li nz-menu-divider></li>
          <li nz-menu-item class="logout" (click)="logout()">
            Logout
          </li>
        </ul>
      </nz-dropdown-menu>

      <nz-button-group *ngIf="!isAuthenticated">
        <button nz-dropdown nz-button routerLink="login">Login</button>
        <button nz-button nzPlacement="bottomRight">
          <i nz-icon nzType="user"></i>
        </button>
      </nz-button-group>


<!--      <a (click)="logout()">logout lol</a>-->
    </div>
  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
