
  <nz-table #basicTable [nzData]="userBatch" [nzFrontPagination]="false" [nzTotal]="totalUserAmount" [nzPageSize]="pageSize" [nzPageIndex]="currentPage" (nzPageIndexChange)="onPageChange($event)" [nzLoading]="loading">
    <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Email Address</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userBatch">
      <td><img src="{{user.avatar}}" alt="No Picture" style="max-width: 50px"></td>
      <td>{{user.lastName + ', ' + user.firstName }}</td>
      <td>{{user.email}}</td>
      <td>
        <a (click)="routeToProfile(user.id)" class="text-teal-500 hover:text-blue-800">Visit Profile</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
